<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="http://{{urlRoot}}">
    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="template/css/style.css">
</head>
<body class="cms-index-index {{classBody}}">

    <div class="wrapper">
        {{> frontend/common/header }}
        {{{body}}}
        {{> frontend/common/footer }}
    </div>
    <div>
        <ul>
            <li>
                <a href="">Đơn hàng</a>
            </li>
        </ul>
    </div>
    <!-- jQuery -->
    <script type="text/javascript" src="template/js/jquery.min.js"></script>
    <!-- sticky -->
    <script type="text/javascript" src="template/js/jquery.sticky.js"></script>
    <!-- OWL CAROUSEL Slider -->    
    <script type="text/javascript" src="template/js/owl.carousel.min.js"></script>
    <!-- Boostrap --> 
    <script type="text/javascript" src="template/js/bootstrap.min.js"></script>
    <!-- Countdown --> 
    <script type="text/javascript" src="template/js/jquery.countdown.min.js"></script>
    <!--jquery Bxslider  -->
    <script type="text/javascript" src="template/js/jquery.bxslider.min.js"></script>
    <!-- actual --> 
    <script type="text/javascript" src="template/js/jquery.actual.min.js"></script>
    <!-- jQuery UI -->
    <script type="text/javascript" src="template/js/jquery-ui.min.js"></script>
    <!-- Chosen jquery-->    
    <script type="text/javascript" src="template/js/chosen.jquery.min.js"></script>
    <!-- parallax jquery--> 
    <script type="text/javascript" src="template/js/jquery.parallax-1.1.3.js"></script>
    <!-- elevatezoom --> 
    <script type="text/javascript" src="template/js/jquery.elevateZoom.min.js"></script>
    <!-- fancybox -->
    <script src="template/js/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="template/js/fancybox/source/helpers/jquery.fancybox-media.js"></script>
    <script src="template/js/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
    <!-- arcticmodal -->
    <script src="template/js/arcticmodal/jquery.arcticmodal.js"></script>
    <!-- Main -->  
    <script type="text/javascript" src="template/js/main.js"></script>
</body>
</html>
