<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="text-center">
            <h2>{{ title }}</h2>
        </div>
        {{# if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                {{this}} <br>
                {{/each}}
            </div>
        {{/if}}
        <form action="/users/signup" method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <div class="form-group">
                <label for="Email">E-mail</label>
                <input type="text" name="email" class="form-control" placeholder="E-mail" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-sn btn-success">Đăng nhập</button>
            </div>
        </form>
    </div>
</div>