<!-- categori -->
<div class="block-nav-categori">

    <div class="block-title">
        <span>Danh mục</span>
    </div>
    <div class="block-content">
        <ul class="ui-categori">
            {{#each catproducts }}
            <li class="parent">
                <a href="">
                    <span class="icon"><img src="template/images/icon/index3/nav-cat1.png" alt="nav-cat"></span>
                    {{this.name}}
                </a>
                <span class="toggle-submenu"></span>
                <div class="submenu" style="background-image: url(template/images/media/index1/bgmenu.jpg);">
                    <ul class="categori-list clearfix">
                        <li class="col-sm-3">
                            <strong class="title"><a href="">Smartphone</a></strong>
                            <ul>
                                <li><a href="">Skirts    </a></li>
                                <li><a href="">Jackets</a></li>
                                <li><a href="">Jumpusuits</a></li>
                                <li><a href="">Scarvest</a></li>
                                <li><a href="">T-Shirts</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <strong class="title"><a href="">TElevision</a></strong>
                            <ul>
                                <li><a href="">Skirts    </a></li>
                                <li><a href="">Jackets</a></li>
                                <li><a href="">Jumpusuits</a></li>
                                <li><a href="">Scarvest</a></li>
                                <li><a href="">T-Shirts</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <strong class="title"><a href="">Camera</a></strong>
                            <ul>
                                <li><a href="">Skirts    </a></li>
                                <li><a href="">Jackets</a></li>
                                <li><a href="">Jumpusuits</a></li>
                                <li><a href="">Scarvest</a></li>
                                <li><a href="">T-Shirts</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="categori-list clearfix">
                        <li class="col-sm-3">
                            <strong class="title"><a href="">Smartphone</a></strong>
                            <ul>
                                <li><a href="">Skirts    </a></li>
                                <li><a href="">Jackets</a></li>
                                <li><a href="">Jumpusuits</a></li>
                                <li><a href="">Scarvest</a></li>
                                <li><a href="">T-Shirts</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <strong class="title"><a href="">TElevision</a></strong>
                            <ul>
                                <li><a href="">Skirts    </a></li>
                                <li><a href="">Jackets</a></li>
                                <li><a href="">Jumpusuits</a></li>
                                <li><a href="">Scarvest</a></li>
                                <li><a href="">T-Shirts</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <strong class="title"><a href="">Camera</a></strong>
                            <ul>
                                <li><a href="">Skirts    </a></li>
                                <li><a href="">Jackets</a></li>
                                <li><a href="">Jumpusuits</a></li>
                                <li><a href="">Scarvest</a></li>
                                <li><a href="">T-Shirts</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            {{/each}}
        </ul>
        <div class="view-all-categori">
            <a  class="open-cate btn-view-all">Tất cả danh mục</a>
        </div>
    </div>
    
</div><!-- categori -->